<%- include('parts/html-head.ejs') %> 
<%- include('parts/navbar.ejs') %> 

<div class="container">
  Hello
<%= name %>
</div>

<%- include('parts/script.ejs') %> 
<%- include('parts/html-foot.ejs') %> 